body{
    font-size: 55px;
    line-height: 100%;
    color: white;
    font-family: 'Roboto', sans-serif;
}


.calc{
    background: #ffc3c3;

    padding: 5px;
    width: 315px;
    height: 485px;
    margin: auto;
    margin-top: 100px;
}

._grid {
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 85px repeat(5, 75px);
}

._tablet {
    grid-column: span 4;
    position: relative;
}
.tablet {
    background: white;
    width: 100%;
    height: 100%;
    color: black;
    text-align: right;
    font-size: 64px;
    line-height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: end;
    letter-spacing: 5px;
    font-weight: 700;
}


.key{
    user-select: none;
    cursor: pointer;
    transition: all .1s ease 0s;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2C2C2C;
}

.key_operation{
    background: #676767;
}

.key_delete{
    background: #C02C3E;
    grid-row: span 2;
}

._backcspace {
    background: #26BEB5;
}
._eq{
    grid-column: span 3;
    background: #DBC241;
}

.arrow {
    position: relative;
    display: block;
    background: white;
    width: 60%;
    height: 3px;
    border-radius: 5px;
}
.arrow::before {
    content: '';
    position: absolute;
    border-radius: 5px;
    top: 50%;
    left: 0;
    width: 20px;
    background: white;
    height: 3px;
    transform: translate(-10%, -300%) rotate(-45deg);
    display: block;
}
.arrow::after {
    content: '';
    position: absolute;
    border-radius: 5px;
    top: 50%;
    left: 0;
    width: 20px;
    background: white;
    height: 3px;
    transform: translate(-10%, 170%) rotate(45deg);
    display: block;
}

.key:not(.key_point):active{
    opacity: 0.9;
    transform: scale(0.97);
}